body {
    font-family:"Roboto";
  }
.a{
    font-size: 25px;
    margin-right: 50px;
}
.c{
    padding: 40px 30px 30px 30px;
    font-size: 20px;
}
.sm{
    float: right;
    justify-content: center;
    margin-left: 10px;
    padding-bottom: 5px;
}
.container ul{
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
    padding: 0px 230px 0px 230px;
    background-image: url(./anh/Layer3.png);
    color: white;  
    display: flex;
    justify-content: space-between;
}
#bs{
    padding-bottom: 20px;
    margin-bottom: 5px;
}
#bm{
    margin-top: 30px ;
    padding-bottom: 10px;
    margin-right: 20px;
}
#bsm{
    margin: 40px 60px 0px 0px;
}
.bb{
   padding-left: 28px;
}
#king{
float: right;
background-color: #ff9f00;

} 
div small{
    font-size: 12px;
}
strong{
    font-size: 20px;
    
}
header{
    border-bottom: 1px solid #ff9f00;
   }
nav {
    padding: 20px;
    background: #002569;
}
section {
    width: auto;
    height: auto;
    background-image: url(./anh/BG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

}
section:after {
    content: "";
    display: table;
    clear: both;
}
footer{
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}
.ac {
    text-align: center;
    font-size: 15px;
}
.aca{
    border-right: 1px solid #bdc3c7;
    padding-right: 25px;
    color: #ff9f00;
    text-decoration: none;
    opacity: 0.6;
    
}
.acc{
    color:white;
    text-decoration: none;
    padding-left: 25px;
    opacity: 0.6;
    
}
.hom{
padding-top:25px;
margin-left: 230px;

}
.homx{
    color:#002569;
    text-decoration: none;
}
.text{
    color: #002569;
    font-size: 50px;
    float: left;
    padding-bottom: 20px; 
}
.text small{
    padding-top: 20px;
    font-size: 20px;
    float: left;
}
.texts{
    font-size: 10px;
    padding-top: 40px;
    text-align: left;
    
}
.btn-group {
    margin-left: 500px;
}
article{
    border-top:2px solid #002569;

}
.com{
    
    margin-left: 230px;

}
#buttom{
    color: #002569;
    border-left: 2px solid #002569;
    border-top: 2px solid #002569;
    border-right: 2px solid #002569;  
}
.btn-group{
    margin-left: 230px;
}
.btn-group .button {
    background-color: white;
    border: 1px solid #8b9abd;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left; 
}
  .btn-group .button:not(:last-child) {
    border-right: none;
  }
  .btn-group .button:hover {
  background-color: #ecf0f1;
}
.com th{
    float: left;
    font-size: 40px;
    padding-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
td div{
    font-size: 100px;
}
.ig{
    padding-left: 200px;
}
figure table {
    margin-left: 200px;
    padding-top: 50px;
    font-size: 15px;
}
figure th{
    padding: 10px;
    color: #797979;
}
.pp{
    margin: 0px;
    margin-bottom: 35px;
    color: #002a8d;
    font-size: 30px;
}
.pop{
    color: #002a8d;
    font-size: 30px;
}
.tb table { 
    margin-left: 230px;
    border: 1px solid wheat;
    background-color: #dfe6e9;
    color: #797979;
    margin-bottom: 30px;
    text-align: center;
    padding: 10px;
}

footer{
    background: #002569;
}
footer ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 180px;
}
.sto{
    font-size: 10px;
    text-align: left;
}
.dimg {
    margin-left: 10px;
    margin-right: 50px;
}
@media only screen and(max-width:640){
     .container{
         display: none;
        }
}